In [1]:
import pandas as pd

In [3]:
# separa le o tsv
df = pd.read_csv('sentimentos.csv', encoding='utf-8')

In [5]:
# separa os dados
df = df[['tweet_text', 'sentiment']]

In [6]:
df.head()

                                          tweet_text sentiment
0                          @Tixaa23 14 para eu ir :)  Positivo
1      @drexalvarez O meu like eu já dei na época :)  Positivo
2  Eu só queria conseguir comer alguma coisa pra ...  Positivo
3                                 :D que lindo dia !  Positivo
4  @Primo_Resmungao Pq da pr jeito!!é uma "oferta...  Positivo

In [7]:
#conta os nulos
df.isnull().sum()

tweet_text    0
sentiment     0
dtype: int64

In [12]:
# remove os nulos
df = df.dropna()

In [8]:
#conta as tags
tags = df['sentiment'].value_counts()
tags

sentiment
Negativo    522707
Positivo    263107
Name: count, dtype: int64

### Faz um df reduzido

In [14]:
# separa os negativos
df_negativo = df[df['sentiment'] == 'Negativo']
df_negativo = df_negativo.head(205)
df_negativo

                                              tweet_text sentiment
46786            @lugmvduarte Não, estou a trabalhar :((  Negativo
47753           Vou ter que deixar o meu baby em casa :(  Negativo
47801                               eu tô tão cansado :(  Negativo
48025                           @Bmax069 tô estudando :(  Negativo
48649               @192KW Obrigado, neném. Como vai? :(  Negativo
...                                                  ...       ...
70638  @SWEET__BABI comaxim? eu to aqui e ligo pra vc...  Negativo
70639  @EvilDebora a resposta é sim, porém eu amo mt ...  Negativo
70640                            @00NLA Acho bom. &gt;:(  Negativo
70641                                  @00NLA Eu sei. :(  Negativo
70642  @savin_ naoooo :( pararam de produzir tem um t...  Negativo

[205 rows x 2 columns]

In [15]:
# separa os positivos
df_positivo = df[df['sentiment'] == 'Positivo']
df_positivo = df_positivo.head(205)
df_positivo

                                            tweet_text sentiment
0                            @Tixaa23 14 para eu ir :)  Positivo
1        @drexalvarez O meu like eu já dei na época :)  Positivo
2    Eu só queria conseguir comer alguma coisa pra ...  Positivo
3                                   :D que lindo dia !  Positivo
4    @Primo_Resmungao Pq da pr jeito!!é uma "oferta...  Positivo
..                                                 ...       ...
200  Momentos em 8 partes... :) em São Paulo, Brazi...  Positivo
201  @yanzices Vem na moradia e pede o segurança pr...  Positivo
202     Só vou ver os VMAs quando chegar a Portugal :)  Positivo
203          amanhã começa meu cursinho no torres :)))  Positivo
204      foo :) : 7cb7b2e4-fb6e-4493-8eee-5a89a37307f2  Positivo

[205 rows x 2 columns]

In [16]:
# junta os dataframe

# separa os dados dataframe para teste e treino
df0_treino = df_negativo.head(200)
df0_teste = df_negativo.tail(df_negativo.shape[0] - 200)

df1_treino = df_positivo.head(80)
df1_teste = df_positivo.tail(df_positivo.shape[0] - 200)

# junta de fato os dados 
df_treino = pd.concat([df0_treino, df1_treino], ignore_index=True)
df_teste = pd.concat([df0_teste, df1_teste], ignore_index=True)

In [17]:
# salva os df

df_teste.to_csv('sentimentos_teste.csv', index=False)
df_treino.to_csv('sentimentos_treino.csv', index=False)