In [1]:
import pandas as pd

In [ ]:
# separa le o tsv
df = pd.read_csv('FACTCKBR.tsv', sep='\t', encoding='utf-8')

In [8]:
# separa os dados
df = df[['reviewBody', 'alternativeName']]

In [9]:
df.head()

                                          reviewBody alternativeName
0  Publicações que circulam nas redes sociais vej...           falso
1  Uma foto de um treinamento de defesa contra as...           falso
2   falsa a informação de que a deputada federal ...           falso
3  Modificada digitalmente para incluir o filtro ...           falso
4  Uma publicação que circula nas redes sociais a...           falso

In [13]:
#conta os nulos
df.isnull().sum()

reviewBody         0
alternativeName    0
dtype: int64

In [12]:
# remove os nulos
df = df.dropna()

In [ ]:
#conta as tags
tags = df['alternativeName'].value_counts()
tags

alternativeName
Falso                      615
falso                      318
Verdadeiro                 119
Exagerado                   87
Sem contexto                42
distorcido                  28
Distorcido                  25
Impossível provar           20
Discutível                  12
Subestimado                  6
Ainda é cedo para dizer      6
insustentável                5
exagerado                    4
Verdadeiro, mas              4
De olho                      3
impreciso                    2
verdadeiro                   1
outros                       1
Name: count, dtype: int64

### Valores Empty

In [20]:
# conta os empty
emptyValue = df['reviewBody'].tolist().count('Empty')
emptyValue

528

In [19]:
# Remover as linhas onde o valor é "Empty"
df_filtrado = df[df['reviewBody'] != 'Empty']

In [21]:
df_filtrado.head()

                                          reviewBody alternativeName
0  Publicações que circulam nas redes sociais vej...           falso
1  Uma foto de um treinamento de defesa contra as...           falso
2   falsa a informação de que a deputada federal ...           falso
3  Modificada digitalmente para incluir o filtro ...           falso
4  Uma publicação que circula nas redes sociais a...           falso

In [31]:
#conta as tags
tagsEmpty = df_filtrado['alternativeName'].value_counts()
tagsEmpty

alternativeName
Falso                464
Verdadeiro            86
Exagerado             75
Distorcido            53
Sem contexto          42
Impossível provar     20
Discutível            12
Subestimado            6
insustentável          5
exagerado              4
impreciso              2
outros                 1
Name: count, dtype: int64

In [27]:
# total de valores
df_filtrado.count()

reviewBody         770
alternativeName    770
dtype: int64

### Normaliza os valores Falsos

In [30]:
filtro = {
    'falso': 'Falso',
    'verdadeiro': 'Verdadeiro',
    'distorcido': 'Distorcido',
    }
df_filtrado['alternativeName'] = df_filtrado['alternativeName'].replace(filtro)

C:\Users\Wectornanime\AppData\Local\Temp\ipykernel_113504\807335681.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['alternativeName'] = df_filtrado['alternativeName'].replace(filtro)

### Faz um df reduzido

In [33]:
# separa os falsos
df_falsos = df_filtrado[df_filtrado['alternativeName'] == 'Falso']
df_falsos = df_falsos.head(86)
df_falsos

                                           reviewBody alternativeName
0   Publicações que circulam nas redes sociais vej...           Falso
1   Uma foto de um treinamento de defesa contra as...           Falso
2    falsa a informação de que a deputada federal ...           Falso
3   Modificada digitalmente para incluir o filtro ...           Falso
4   Uma publicação que circula nas redes sociais a...           Falso
..                                                ...             ...
87  Uma foto antiga dos ex-presidentes argentinos ...           Falso
88  Não é de autoria da cantora Maria Bethânia a c...           Falso
89   falsa a notícia de que o Papa Francisco teria...           Falso
90  Não é verdade que um decreto assinado pelo pre...           Falso
91  Um meme que circula nas redes sociais traz inf...           Falso

[86 rows x 2 columns]

In [32]:
# separa os verdadeiros
df_verdadeiro = df_filtrado[df_filtrado['alternativeName'] == 'Verdadeiro']
df_verdadeiro = df_verdadeiro.head(86)
df_verdadeiro

                                            reviewBody alternativeName
360  Como informou nota do Vaticano publicada nesta...      Verdadeiro
374  Fernando Haddad PT, em entrevista no Roda Viva...      Verdadeiro
386  Corrente que circula no WhatsApp diz que Hadda...      Verdadeiro
387  Corrente que circula no WhatsApp diz que Hadda...      Verdadeiro
388  Corrente que circula no WhatsApp diz que Hadda...      Verdadeiro
..                                                 ...             ...
754  O deputado federal Pompeo de Mattos PDT-RS afi...      Verdadeiro
759  O deputado federal Paulo Pimenta PT-RS afirmou...      Verdadeiro
768  Miguel Reale Júnior, jurista e coautor do pedi...      Verdadeiro
771  José Eduardo Martins Cardozo, ministro da Advo...      Verdadeiro
773  José Eduardo Martins Cardozo, ministro da Advo...      Verdadeiro

[86 rows x 2 columns]

In [45]:
# junta os dataframe

# separa os dados dataframe para teste e treino
df0_treino = df_falsos.head(80)
df0_teste = df_falsos.tail(df_falsos.shape[0] - 80)

df1_treino = df_verdadeiro.head(80)
df1_teste = df_verdadeiro.tail(df_verdadeiro.shape[0] - 80)

# junta de fato os dados 
df_treino = pd.concat([df0_treino, df1_treino], ignore_index=True)
df_teste = pd.concat([df0_teste, df1_teste], ignore_index=True)

In [46]:
# salva os df

df_teste.to_csv('df_teste.csv', index=False)
df_treino.to_csv('df_treino.csv', index=False)